	
	body { 
		background: #FFEFBA;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #FFFFFF, #FFEFBA);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #FFFFFF, #FFEFBA); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


/* 
  background: #EB5757;  
background: -webkit-linear-gradient(to right, #000000, #EB5757); 
background: linear-gradient(to right, #000000, #EB5757);  */
}
.col-sm-4{
	background-color: #fafafa!important;
}
.container{
padding: 25px;   
}    
	.navbar-custom .navbar-text {
    	color: white;

    }


    a {
    	color: white;
    	font-weight: bold;

    	font-family: 'Archivo Black', sans-serif;

    }

    a:hover {
    	background: rgb(104, 121, 255);
    }

    /* aktiivisen & hover-linkin väri */

    .nav-item .dropdown-menu a:hover {
    	color: black !important;
    	background: black !important;
    	/*rgb(104, 121, 255)*/
    	cursor: pointer;
    }

    .custom-toggler.navbar-toggler {
    	/*  	border-color: rgb(255, 102, 203);*/
    	background-color: #e62a59!important;
    	border: 2px solid black;
    }

    #yhteydenotto {
    	background-color: #fafafa;
    	text-align: center;
    	border: 5px solid black;
    	font-family: 'Kanit', sans-serif;

    }

    #introduction {

    	text-align: justify;
    	text-justify: inter-word;
    }

    #esittely {
    	border: 5px solid black;

    }

    #intro {
    	border-radius: 50%;
    	width: 15%;
    	border: 5px solid black;
    }

    #foot {
    	/*background-color: #ffccda;*/
    	background-color: #e62a59;
    	border: 10px solid black;
    	width: 100%;
    	height: 70px;
    	margin: auto;
    	text-align: center;
    	margin-top: 50px;

    	color: black;
    	font-size: 25px;
    	overflow: hidden;
    	font-family: 'Knewave', cursive;
    }

    #card-header {
		/* background-color: #fccd4f; */
		background-color: #e62a59;
    	text-align: center;
	}
	#card-header a {
		/* background-color: #fccd4f; */
color: white;
	}
	.card-body {
		background-color: #ffffff!important;
	}

    #suljeBoxi {

    	background-color: bisque!important
    }

    .custom-toggler .navbar-toggler-icon {
    	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(5, 3, 10)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    	font-family: 'Righteous', cursive;
    }

    /*Scroll-spy*/

    .nav-link.active {
    	color: black !important;

    }

    body {
    	background-color: deeppink;
    	position: relative;

    	font-family: 'Kanit', sans-serif;

    }

    #accordion {
    	font-family: 'Kanit', sans-serif;
    	border: 5px solid black;

    }

   
    h2 {
    	font-size: 18px;
    	font-weight: bold;

    	font-family: 'Kanit', sans-serif;

    }
/* 
    .carousel-inner img {
    	height: 600px;
    	margin: auto;
    	height: auto;
    }

    .carousel-caption {
    	text-decoration-color: #030303;

    	font-family: 'Kanit', sans-serif;

    } */

    #demo {
    	width: 100%;
    	/* Set width to 100% */
    	margin: auto;
    	min-height: 200px;
    	border: 5px solid black;
    }


    .col-sm-4 {

    	font-family: 'Kanit', sans-serif;

    	background-color: bisque;
    }

    .jumbotron {

    	font-family: 'Kanit', sans-serif;


    	background-color: bisque;
    }

    container {

    	font-family: 'Kanit', sans-serif;

    	background-color: bisque;
    }
#example-image{
	width: 80%;
	height: 60%;
}
    a:nav-link{
    	margin-left: 10px!important;
    }

    label {

    	font-family: 'Kanit', sans-serif;

    	width: 6em;
    	display: inline-block;
    }

    /*  label {
    	display: block;
    }*/


    
.thumbnail img {
width: 250px;
height: 250px;
margin: 0 auto;
}


    #info {
    	border: 5px solid black!important;
    	background-color: #fafafa!important;
    	text-align: center!important;
    	font-weight: bold!important;
    	font-size: 25px;
    }

.nav-link{
	color: white;
}



 .anim {
	display: flex;
	justify-content: center;

	font-size: 70px;
	font-weight: 900;
background: #EB5757;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #000000, #EB5757);  
background: linear-gradient(to right, #000000, #EB5757); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

	
background-size: 200%;
 -webkit-background-clip: text;
-webkit-text-fill-color: transparent;
transition: 0.5s ease-out;

}
.anim:hover{
background-position: -100%;
}